[Desktop Entry]
Type=Service
Icon=debugger
Exec=blubb
Comment=Valgrind is a tool that helps you find memory management problems in programs. http://www.valgrind.org/
Comment[uk]=Valgrind — це інструмент, що допомагатиме вам знаходити проблеми у керуванні пам’яттю, що виникають у програмах. http://www.valgrind.org/
Name=Valgrind Support
Name[uk]=Підтримка Valgrind
GenericName=Debugger Frontend
GenericName[ca]=Frontal del depurador
GenericName[de]=Oberfläche für Debugger
GenericName[en_GB]=Debugger Frontend
GenericName[es]=Interfaz del depurador
GenericName[et]=Siluri kasutajaliides
GenericName[fr]=Interface du débogueur
GenericName[ga]=Comhéadan Dífhabhtóra
GenericName[gl]=Interface para o depurador
GenericName[ja]=デバッガのフロントエンド
GenericName[nds]=Fehlersöker-Böversiet
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[sv]=Avlusargränssnitt
GenericName[tr]=Hata Ayıklayıcı Önucu
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevvalgrind
X-KDevelop-Version=7
X-KDE-PluginInfo-Name=kdevvalgrind
X-KDE-PluginInfo-Author=Harald Fernengel, Hamish Rodda
X-KDE-PluginInfo-License=GPL
X-KDevelop-Category=Global
X-KDevelop-IRequired=org.kdevelop.IExecutePlugin
X-KDevelop-Mode=GUI
